{% extends "base.html" %}

{% block head %}
  <script src="{{ url_for('static', path='auth.js') }}" defer></script>
{% endblock %}

{% block content %}
  <section class="auth-section">

    <svg class="blob-right" width="814" height="738" viewBox="0 0 814 908" fill="none"
      xmlns="http://www.w3.org/2000/svg">

      <path
        d="M548.532 34.0841C641.617 64.117 745.525 108.735 789.036 190.095C832.375 271.51 815.199 389.894 766.069 499.945C717.112 609.942 636.03 711.66 539.007 733.019C441.984 754.378 328.912 695.034 221.408 634.132C113.904 573.23 12.3135 510.661 1.80608 433.14C-8.70136 355.619 72.1551 263.435 135.531 184.307C199.024 104.953 245.091 38.8276 309.283 13.575C373.474 -11.6775 455.619 3.99709 548.532 34.0841Z"
        fill="url(#paint0_linear_121_7)" />
      <defs>
        <linearGradient id="paint0_linear_121_7" x1="555.648" y1="-16.1229" x2="-236.539" y2="273.558"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#03001E" />
          <stop offset="0.33" stop-color="#7303C0" />
          <stop offset="0.66" stop-color="#EC38BC" />
          <stop offset="1" stop-color="#FDEFF9" />
        </linearGradient>
      </defs>
    </svg>

    <svg class="blob-left-bottom" width="440" height="550" viewBox="0 0 440 700" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M432.505 95.9671C459.516 166.396 414.827 265.392 399.553 349.256C384.421 433.12 398.846 501.71 371.834 572.421C344.681 643.133 276.091 715.965 222.916 700.268C169.882 684.711 132.405 580.765 92.2409 510.054C52.2182 439.342 9.50847 401.865 1.44736 356.327C-6.61375 310.789 19.8324 257.048 59.9965 186.619C100.019 116.049 153.76 28.7912 229.987 6.16351C306.355 -16.4642 405.351 25.397 432.505 95.9671Z"
        fill="url(#paint0_linear_121_4)" />
      <defs>
        <linearGradient id="paint0_linear_121_4" x1="239" y1="638.5" x2="635.115" y2="118.156"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#03001E" />
          <stop offset="0.33" stop-color="#7303C0" />
          <stop offset="0.66" stop-color="#EC38BC" />
          <stop offset="1" stop-color="#FDEFF9" />
        </linearGradient>
      </defs>
    </svg>

    <svg class="blob-left-top" width="389" height="304" viewBox="0 0 389 304" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M300 167.8C300 236 250 273.5 175 273.5C100 273.5 0 236 0 167.8C0 99.5 100 0.5 175 0.5C250 0.5 300 99.5 300 167.8Z"
        fill="url(#paint0_linear_86_107)" />
      <defs>
        <linearGradient id="paint0_linear_86_107" x1="-187" y1="-145.5" x2="208.423" y2="346.21"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#03001E" />
          <stop offset="0.33" stop-color="#7303C0" />
          <stop offset="0.66" stop-color="#EC38BC" />
          <stop offset="1" stop-color="#FDEFF9" />
        </linearGradient>
      </defs>
    </svg>
    <div class="glass-container">
      <form id="regform" action="/pages/get-user-data" method="POST">

        <fieldset>
          <div class="form-text">
            <h1>Создать аккаунт</h1>
            <h3>уже зарегестрированны? <a class="goto" href="#">войти</a> </h3>
          </div>

          <div class="form-input">
            <div class="custom-input">
              <p>Адрес электронной почты</p>
              <input type="text" name="email">
            </div>
          </div>

          <div class="form-buttons">

            <input type="button" name="next" class="next-button" value="продолжить"/>

            <div class="delimiter">
              <hr>
              <p>или</p>
              <hr>
            </div>

            <button class="google-button">
              <div class="google-info">
                <div class="avatar"></div>

                <div class="google-text">
                  <p class="name">Войти как ILya</p>
                  <p class="gmail">torunn4ik@gmail.com</p>
                </div>

              </div>

              <svg class="google-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 32 32" width="64" height="64">
                <defs>
                  <path id="A"
                    d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
                </defs>
                <clipPath id="B">
                  <use xlink:href="#A" />
                </clipPath>
                <g transform="matrix(.727273 0 0 .727273 -.954545 -1.45455)">
                  <path d="M0 37V11l17 13z" clip-path="url(#B)" fill="#fbbc05" />
                  <path d="M0 11l17 13 7-6.1L48 14V0H0z" clip-path="url(#B)" fill="#ea4335" />
                  <path d="M0 37l30-23 7.9 1L48 0v48H0z" clip-path="url(#B)" fill="#34a853" />
                  <path d="M48 48L17 24l-4-3 35-10z" clip-path="url(#B)" fill="#4285f4" />
                </g>
              </svg>
            </button>

          </div>
        </fieldset>

        <fieldset>
          <div class="form-text">
            <h1>Регистрация</h1>
          </div>

          <div class="form-input">
            <div class="custom-input">
              <p>Логин</p>
              <input type="text" name="login">
            </div>

            <div class="custom-input">
              <p>Пароль (не менее 8 символов)</p>
              <input type="password" name="password">
            </div>
          </div>

          <div class="form-buttons">

            <div class="pare-buttons">
              <input type="button" name="previous" class="previous" value="назад"/>
              <input type="submit" name="create" class="create-button" value="создать аккаунт"/>
            </div>

          </div>
        </fieldset>

      </form>

      <form id="loginform" onsubmit="handleLogin(event)">

        <fieldset>
          <div class="form-text">
            <h1>Войти</h1>
            <h3>еще не зарегестрированны? <a class="goto" href="#">создать аккаунт</a> </h3>
          </div>

          <div class="form-input">
            <div class="custom-input">
              <p>почта</p>
              <input type="text" name="email">
            </div>
            <div class="custom-input">
              <p>пароль</p>
              <input type="password" name="password">
            </div>
          </div>

          <div class="form-buttons">

            <input type="submit" name="next" class="next-button" value="войти"/>

          </div>
        </fieldset>

      </form>

    </div>
  </section>

{% endblock %}